# name: Deploy MkDocs

# on:
#   push:
#     branches:
#       - main
#   workflow_dispatch:

# permissions:
#   contents: write

# jobs:
#   deploy:
#     runs-on: ubuntu-latest
#     steps:
#       - name: Checkout
#         uses: actions/checkout@v4

#       - name: Set up uv
#         uses: astral-sh/setup-uv@v4
#         with:
#           python-version: "3.12"

#       - name: Install dependencies
#         working-directory: mkdocs-site
#         run: |
#           uv venv
#           uv pip install -r requirements.txt

#       - name: Deploy
#         working-directory: mkdocs-site
#         run: uv run mkdocs gh-deploy --force
